html {
	background: #fff;
}

x-a11y-body {
	position: absolute;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	pointer-events: none;
	font-size: 14px;
}

x-a11y-block {
	display: block;
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 5em;
	min-height: 2em;
}

x-title {
	display: block;
}

x-a11y-block > div {
	line-height: 1;
}

x-a11y-block small {
	font-size: 0.66em;
	text-decoration: none;
}

x-a11y-block[data-focus] {
	background: lime;
	font-weight: 800;
}

x-a11y-block[data-type='button'] {
	background: yellow;
	color: black;
}

x-a11y-block[data-type='img'] {
	background: greenyellow;
	color: black;
}

x-a11y-block[data-type='link'] {
	color: blue;
	justify-content: flex-start;
}
x-a11y-block[data-type='link'] x-title {
	text-decoration: underline;
}

x-a11y-block[data-type='text'] {
	color: black;
}

x-a11y-block[data-type='input'] {
	color: black;
	border: 2px solid;
	background: #fff;
}

x-a11y-block[data-type='input-radio']:before {
	content: '⚬';
}
